@charset "UTF-8";

/* configurações gerais mobile first*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    height: 100vh;
    
}

body {
    background-color: var(--font2);
    background-image: url(../image/Adobe\ Express\ -\ file.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to bottom, var(--font3) , var(--font2));
    height: 10vh;
}
.header-content img{
    width: 50px;
    margin: 0 2px;
}
/* essa parte vai virar um menu haburger interativo */
.header-content__navigation ul {
    
    display: flex;
    justify-content: flex-end;
    width: 350px;
    margin: 5px;

}

.header-content__navigation ul li a{
    color: var(--font4);
    margin: 0 10px;
    padding-right: 10px;
}

.header-content__navigation ul li a:hover{
    color: var(--font1);
}

.main-contant {
    background-color: #a6a6a6b4;
    max-width: 100vw;
    max-width: 100vh;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.main-contant h1 {
    color: var(--font5);
    font-size: 3em;
    text-shadow: 1px 1px 1px var(--font5);
    margin-bottom: 15px;
}

.main-contant p {
    color:var(--font5);
    font-size: 1.2em;
    text-shadow: 1px 1px 2px var(--font5);
    width: 300px;
    margin: 20px 100px;
}

.tecnologi{
    border: 1px solid black;
}

.tecnologi h2 {
    font-size: 2.5em;
}

.tecnologi img {
    margin-top: 20px;
    width: 200px;
}

.rede-social {
    display: block;
    margin: 10px 0;
    padding: 0px 10px;
    height: 50vh;
}

.rede-social img {
    width: 50px;
    padding: 10px;
    margin: 10px 0;
}

.figure-footer {
    display: flex;
    gap: 50px;
}

.figure-footer figcaption {
    font-size: 0.9em;
}

footer img {
    width: 18px;
}

footer p {
    margin-top: 5px;
    font-size: 0.9em;
}
